/* CSS Register */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

  /* Navbar Start */
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #008673;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar-item a:hover {
    background-color: #01b29c;
  }
  /* Navbar End */

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #01b3a0;
}
/* CSS Register End */