body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
  color: red;
}

.description {
  margin-top: 20px;
  line-height: 1.5;
}

.bigger {
  font-size: 18px;
  font-weight: bold;
}

.smaller {
  font-size: 14px;
  color: orange;
}

/* Card Section */
.pricing-section {
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  flex: 1 0 200px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}

.img-card {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.register-btn {
  background-color: #008080;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn:hover {
  background-color: #01b3a0;
}
/* Card End */
